@model IEnumerable<eShop.Models.Breakdown>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Breakdowns</h2>

<div class="form-inline">
    @using (Html.BeginForm("Search", "Breakdowns"))
    {
        @Html.ActionLink("Add New Breakdown", "New", "Breakdowns", null, new { @class = "btn btn-primary" })
        <div class="form-group">
            @Html.TextBox("searchString", "", new { @placeholder = "Search Equipment ID" })
        </div>
        <div class="form-group">Start Date 
            @Html.TextBox("startDate", "", new { @type = "date" })
        </div>
        <div class="form-group">End Date
            @Html.TextBox("endDate", "", new { @type = "date" })
        </div>
        <div class="form-group">
            @Html.CheckBox("showInactive") Show Inactive
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    }
</div>

<table id="breakdowns" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfBreakdown)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFixed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResolved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Equipment, "Details", "Breakdowns", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfBreakdown, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Operator, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProblemDescription, new { @class = "form-control" })
                </td>
                <td>
                    @(item.IsFixed ? "Yes" : "No")
                </td>
                <td>
                    @(item.IsPaid ? "Yes" : "No")
                </td>
                <td>
                    @(item.IsResolved ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments, new { @class = "form-control" })
            </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Breakdowns", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>