@model IEnumerable<eShop.Models.Breakdown>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;

<h2 class="text-center">Breakdowns</h2>

@using (Html.BeginForm("Index", "Breakdowns"))
{
    <div class="form-inline text-center">
        <div class="form-group">
            @Html.TextBox("searchString", "", new { @placeholder = "Search Equipment ID" })
        </div>
        <div class="form-group">
            Start Date
            @Html.TextBox("startDate", "", new { @type = "date" })
        </div>
        <div class="form-group">
            End Date
            @Html.TextBox("endDate", "", new { @type = "date" })
        </div>
        <div class="form-group">
            @Html.CheckBox("showInactive") Show Inactive
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

    <table id="breakdowns" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Equipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeOfBreakdown)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Operator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProblemDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsFixed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPaid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsResolved)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.OnePageOfBreakdowns)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", new { item.Id })">@item.Equipment</a>
                    </td>
                    <td>
                        @item.TimeOfBreakdown
                    </td>
                    <td>
                        @item.Operator
                    </td>
                    <td>
                        @item.Location
                    </td>
                    <td>
                        @item.ProblemDescription
                    </td>
                    <td>
                        @(item.IsFixed ? "Yes" : "")
                    </td>
                    <td>
                        @(item.IsPaid ? "Yes" : "")
                    </td>
                    <td>
                        @(item.IsResolved ? "Yes" : "")
                    </td>
                    <td>
                        @item.Comments
                </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Breakdowns", new { id = item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@Html.ActionLink("Add New Breakdown", "New", "Breakdowns", null, new { @class = "btn btn-primary" })

@Html.PagedListPager( (IPagedList)ViewBag.OnePageOfBreakdowns, page => Url.Action("Index", new { page }) )